h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center !important;
  font-family: "Roboto Condensed", sans-serif !important;
}

/* HEADER */
#includedHeader {
  background-image: url("senior_header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  height: 40vh;
  font-family: "Roboto Condensed", sans-serif !important;
}

#includedHeader h1 {
  padding-top: 3%;
  font-weight: bolder;
}

/* FOOTER */
#includedFooter {
  padding-top: 3%;
  min-height: 15vh;
  background-color: #eb7b29;
  color: white;
}

#includedFooter a {
  color: white;
}

#includedFooter img {
  border-radius: 50%;
  width: 60%;
  border: solid white 3px;
}

#includedFooter span {
  text-decoration: underline;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: large;
}

#footer {
  width: 50vh;
  justify-content: center;
  margin: 0 auto;
}

/* BACK TO TOP BUTTON */
#backToTop {
  display: inline-block;
  background-color: #eb7b29;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backToTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backToTop:hover {
  cursor: pointer;
  background-color: #f9bc8b;
}
#backToTop:active {
  background-color: #eb7b29;
}
#backToTop.show {
  opacity: 1;
  visibility: visible;
}

/* Bouton */
.btn-custom {
  color: #fff;
  background-color: #eb7b29;
  border-color: #eb7b29;
  transition: none;
}

  /* Bouton */
  .btn-primary {
    color: #fff;
    background-color: #c45345;
    border-color:  #c45345;
}

.card-img-top{
  max-height: 250px;
  object-fit: cover;
  object-position: top;
}

.icon-weather{
  background: linear-gradient(rgba(196, 83, 69, 0.5), rgba(0, 105, 217, 0.5));
  border-radius: 10px 0 0 10px;
}

#resultDiv .card {
  border: 0;
}

.rounded {
  border-radius: 0.75rem!important;
}
.btn-custom:hover {
  color: #fff;
  background-color: #f89544;
  border-color: #f89544;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(248 149 68 / 25%);
}
