<div class="container">
  <div id="footer" class="row">
    <div class="col-6">
      <img
        src="./asserts/generalStyle/didierBourdon.jpg"
        alt="Notre vénéré directeur national"
      />
    </div>
    <div class="col-6">
      <p><span>Notre siège à Marseille :</span></p>
      <p>
        12 rue de la fatigue, 13011 Marseille<br />
        <a href="mailto">lesseniorissimes@gmail.com</a><br />
        Téléphone : 04 91 10 11 12
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-around mt-5">
    <p><a href="#">Mentions légales</a></p>
    <p>Copyright2021</p>
  </div>
</div>
