<div class="container">
  <div id="footer" class="row">
    <div class="col-5 text-center">
      <p><span>Didier Bourdon</span></p>
      <img
        src="./asserts/generalStyle/didierBourdon.jpg"
        alt="Notre vénéré directeur national"
      />

      <p>Responsable national des Séniorissimes</p>
    </div>
    <div class="col-7 text-center">
      <p><span>Notre siège à Marseille</span></p>
      <p>12 rue de la fatigue, 13011 Marseille</p>
      <p>Email : 
        <a href="mailto">lesseniorissimes@gmail.com</a>
      </p>
      <p>Téléphone : 04 91 10 11 12</p>
    </div>
  </div>
  <div class="mt-5 text-center">
    <p class="mb-0"><a href="#">Mentions légales</a></p>
    <p class="mb-0">©Les Séniorissimes, 2021 - Tous droits réservés</p>
  </div>
</div>
