<h2 class="mb-5">Contactez-nous</h2>
<div class="row mb-5">
  <!-- Texte -->
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="p-5">
      <p>
        Quelque soit votre demande nos bénévoles prendront le temps de vous
        répondre, que ce soit pour vous inscrire à nos activités, avoir plus
        d'infos sur celle-ci ou même mieux nous connaitre.
      </p>
      <p>
        <span class="custom-text">Pour proposer la création d'un club dans votre région</span>, contactez notre
        siège, le club de Marseille.
      </p>
    </div>
  </div>

  <!-- Formulaire -->
  <div class="col-lg-8 col-md-8 col-sm-12">
    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">Prénom</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom01"
            required
          />
          <div class="invalid-feedback">Vous devez entrer votre prénom</div>
          <div class="valid-feedback">Donnée valide</div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Nom</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom02"
            required
          />
          <div class="invalid-feedback">Vous devez entrer votre nom</div>
          <div class="valid-feedback">Donnée valide</div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Club destinataire</label>
          <div class="input-group d-flex justify-content-around">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="option1"
                checked
              />
              <label id="clubSud" class="form-check-label" for="exampleRadios1">
                Sud- Marseille
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios2"
                value="option2"
              />
              <label
                id="clubNord"
                class="form-check-label"
                for="exampleRadios2"
              >
                Nord - Calais
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios3"
                value="option3"
              />
              <label
                id="clubBreizh"
                class="form-check-label"
                for="exampleRadios3"
              >
                Bretagne - Vannes
              </label>
            </div>

            <div class="invalid-feedback">Vous devez choisir un club</div>
            <div class="valid-feedback">Donnée valide</div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" required />
            <div class="invalid-feedback">
              Vous devez entrer une adresse valide
            </div>
            <div class="valid-feedback">Donnée valide</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="messageArea">Votre message :</label>
        <textarea
          class="form-control"
          rows="5"
          id="messageArea"
          required
        ></textarea>
        <div class="invalid-feedback">Votre message ne peut être vide</div>
        <div class="valid-feedback">Donnée valide</div>
      </div>

      <button class="btn btn-custom btn-sm" type="submit">Envoyer</button>
    </form>
  </div>
</div>
<script>
  (function () {
    ("use strict");
    window.addEventListener(
      "load",

      function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");

        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>
